{% extends "base.html" %}

{% block main %}

<div ng-controller="UpdateController" id="update-container">
    <h1 class="page-header update-page">Update Card</h1>
    <form id="update-form" name="load-form" enctype="multipart/form-data" ng-submit="update()" method="post">
        <label>ID:</label><input type="number" ng-model="id" id="id-update"/><br/>
        <div>
            <label>image:</label><input type="text" id="img-text" value="Click to browse..."/>
            <input type="file" id="img-update"/><br/>
        </div>
        <label>name:</label><input type="text" ng-model="data.name"/><br/>
        <label id="text-label">text:</label><textarea ng-model="data.text"></textarea><br/>
        <label>region:</label>
        <select ng-model="data.region">
            <option value=""></option>
            <option value="DEMACIA">Demacia</option>
            <option value="NOXUS">Noxus</option>
            <option value="IONIA">Ionia</option>
            <option value="SHURIMA">Shurima</option>
            <option value="FRELJORD">Freljord</option>
            <option value="BILGEWATER">Bilgewater</option>
            <option value="SHADOWISLES">Shadow Isles</option>
            <option value="BANDLECITY">Bandle City</option>
            <option value="MOUNTTARGON">Mount Targon</option>
            <option value="PILTOVER">Piltover</option>
            <option value="ZAUN">Zaun</option>
            <option value="THEVOID">The Void</option>
            <option value="RUNETERRA">Runeterra</option>
        </select><br/>
        <label>class1:</label>
        <select ng-model="data.class1">
            <option value=""></option>
            <option value="MAGE">Mage</option>
            <option value="BURST">Burst</option>
            <option value="ARTILLERY">Artillery</option>
            <option value="BATTLEMAGE">Battlemage</option>
            <option value="ENCHANTER">Enchanter</option>
            <option value="CATCHER">Catcher</option>
            <option value="FIGHTER">Fighter</option>
            <option value="JUGGERNAUT">Juggernaut</option>
            <option value="DIVER">Diver</option>
            <option value="MARKSMAN">Marksman</option>
            <option value="SLAYER">Slayer</option>
            <option value="ASSASSIN">Assassin</option>
            <option value="SKIRMISHER">Skirmisher</option>
            <option value="TANK">Tank</option>
            <option value="VANGUARD">Vanguard</option>
            <option value="WARDEN">Warden</option>
        </select><br/>
        <label>class2:</label>
        <select ng-model="data.class2">
            <option value=""></option>
            <option value="MAGE">Mage</option>
            <option value="BURST">Burst</option>
            <option value="ARTILLERY">Artillery</option>
            <option value="BATTLEMAGE">Battlemage</option>
            <option value="ENCHANTER">Enchanter</option>
            <option value="CATCHER">Catcher</option>
            <option value="FIGHTER">Fighter</option>
            <option value="JUGGERNAUT">Juggernaut</option>
            <option value="DIVER">Diver</option>
            <option value="MARKSMAN">Marksman</option>
            <option value="SLAYER">Slayer</option>
            <option value="ASSASSIN">Assassin</option>
            <option value="SKIRMISHER">Skirmisher</option>
            <option value="TANK">Tank</option>
            <option value="VANGUARD">Vanguard</option>
            <option value="WARDEN">Warden</option>
        </select><br/>
        <label>type1:</label>
        <select ng-model="data.type1">
            <option value=""></option>
            <option value="ASPECT">Aspect</option>
            <option value="CELESTIAL">Celestial</option>
            <option value="CONSTRUCT">Construct</option>
            <option value="CREATURE">Creature</option>
            <option value="DARKIN">Darkin</option>
            <option value="DEMIGOD">Demigod</option>
            <option value="DEMON">Demon</option>
            <option value="HUMAN">Human</option>
            <option value="ICEBORN">Iceborn</option>
            <option value="PLANT">Plant</option>
            <option value="SPIRIT">Spirit</option>
            <option value="UNDEAD">Undead</option>
            <option value="VASTAYA">Vastaya</option>
            <option value="VOIDBORN">Voidborn</option>
            <option value="YORDLE">Yordle</option>
        </select><br/>
        <label>type2:</label>
        <select ng-model="data.type2">
            <option value=""></option>
            <option value="ASPECT">Aspect</option>
            <option value="CELESTIAL">Celestial</option>
            <option value="CONSTRUCT">Construct</option>
            <option value="CREATURE">Creature</option>
            <option value="DARKIN">Darkin</option>
            <option value="DEMIGOD">Demigod</option>
            <option value="DEMON">Demon</option>
            <option value="HUMAN">Human</option>
            <option value="ICEBORN">Iceborn</option>
            <option value="PLANT">Plant</option>
            <option value="SPIRIT">Spirit</option>
            <option value="UNDEAD">Undead</option>
            <option value="VASTAYA">Vastaya</option>
            <option value="VOIDBORN">Voidborn</option>
            <option value="YORDLE">Yordle</option>
        </select><br/>
        <label>hp:</label><input type="number" ng-model="data.hp" min="0"/>
        <label>ad:</label><input type="number" ng-model="data.ad" min="0"/>
        <label>ap:</label><input type="number" ng-model="data.ap" min="0"/><br/>
        <label>spell_type:</label><input type="text" ng-model="data.spell_type"/><br/>
        <label>stat_name:</label><button ng-click="plusOne()">+</button><button ng-if="data.stat_name.length > 1" ng-click="minusOne()">-</button>
        <div ng-repeat="stat in data.stat_name track by $index">
            <input type="number" ng-model="data.qty[$index]" min="0"/>
            <select ng-model="data.stat_name[$index]">
                <option value=""></option>
                <option value="COOLDOWNREDUCTION">Cooldown Reduction</option>
                <option value="ATTACKSPEED">Attack Speed</option>
                <option value="PENETRATION">Penetration</option>
                <option value="CRITICALSTRIKECHANCE">Critical Strike Chance</option>
                <option value="HEALANDSHIELDPOWER">Heal & Shield Power</option>
                <option value="RESISTANCE">Resistance</option>
                <option value="LIFESTEAL">Life Steal</option>
            </select>
        </div><br/>

        <input type="submit" value="Update"/>
    </form>
</div>
<div id="preview-container" ng-controller="PreviewController">
    <div ng-if="card != null">
        <img ng-src="<< card.img >>" class="preview card">
        <div id="info">
            <div id="card-title">
                <h2><< card.name >></h2>
            </div>
            <div ng-if="card.cardtype=='CHAMPION'" id="champion-preview">
                <p><span id="epithet"><< card.epithet >></span><br/><< card.region >> <br/> << card.class[0] >><span ng-if="card.class[1] != null"> | << card.class[1] >> </span> <br/> << card.type[0] >><span ng-if="card.type[1] != null"> | << card.type[1] >></span><br/> HP << card.hp >> | AD << card.ad >> | AP << card.ap >>
                </p>
            </div>
            <div ng-if="card.cardtype=='ITEM'" id="item-preview">
                <p>HP +<< card.hp >> | AD +<< card.ad >> | AP +<< card.ap >><br/><span ng-repeat="stat in card.stats">+<< stat["qty"] >> << stat["stat"] >> <span ng-if="$index < card.stats.length - 1"> | </span> </span>
                </p>
            </div>
            <div ng-if="card.cardtype=='SUMMONERSPELL'" id="spell-preview">
                <p><< card.type >></p>
            </div>
            <div ng-if="card.cardtype=='PET' || card.cardtype=='NEUTRALMONSTER'" id="monster-preview">
                <p>HP << card.hp >> | AD << card.ad >> | AP << card.ap >></p>
            </div>
            <p id="card-text"><< card.text >></p>
        </div>
    </div>
</div>
{% endblock %}